* {
  padding: 0%;
  margin: 0%;
}

body {
  height: 900px;
}
header { 

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(223, 107, 107);
  color: bisque;  
  width: 97.5%;
  position: fixed;
  z-index: 999;
}

h1 {
  margin: 10px;
  font-size: 35px;
  color: bisque;
  border: 3px solid rgb(90, 167, 175);
  padding-left: 5px;
  padding-right: 5px;
}

.nav {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  background-color: bisque;
  border: 3px solid rgb(90, 167, 175);
 
}

li {
  display: flex;
  justify-content: space-around;
  padding: 3px;
 
}  

.content{
    width: 20%;
   display: flex;
   flex-direction: column;
   position: absolute;
   justify-content: space-around;
    text-align: justify;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 70px;
    height: 149%;
    color: rgb(90, 167, 175);
    background-color: rgb(211, 179, 179);
    
}
.features {
  margin-right: 10px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 70%;
  height: 135%;
  box-sizing: content-box;
  background-color: bisque;
}

.text {
  padding: 5px;
    margin-bottom: 10px;
    border: 3px solid  rgb(90, 167, 175);
}

.examples {
  background-color:rgb(90, 167, 175);
  display: grid;
  width: 100%;
  height: 940px
  margin-bottom: 10px;
}

.info {
position: relative;
top: 30px;
margin-bottom: 10px;
font-size: 20px;
color: bisque;
background-color: rgb(223, 107, 107);
}

.about {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 15px;
  height: 350px;
  height: 15%;
}

.work {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 15px;
  height: 350px;
  
  height: 200%;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 15px;
  height: 350px;
  height: 50%;

}
.link {
  
height: 100%;
   
  }
  /* grid id's should be moved within media query tags
  #a {
    grid-area: a;
   
  }
  
  #b {
    grid-area: b;
   
  }
  
  #c {
    grid-area: c;
   
  }
  
  #d {
    grid-area: d;
   
  }

  #e {
    grid-area: e;
  }

  img:hover {
    border: 5px solid palevioletred;

  }
  #avatar {

    height: 50px;
   
  }

/* viewport rendering */
  
 @media screen and (min-width: 700px){
  .features {
    width: 70%;
    height: inherit;
    
    
   
  } 

  .link {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "a a"
      "b c"
      "d e";
    grid-template-rows: none;
    grid-template-columns: none;
 
  }
  .content {
 
    width: 20%;
    margin-left: 10;
    
    height: 113%;
 
   }

   .examples {

    height: 615px;
   }
 
.info {
  margin-top: 30px;
}


   
  }
  




  
  


