* {
  border: 1px solid red;
}
header { 

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(223, 107, 107);
  color: bisque;  
  width: 1000px;
  position: fixed;
  z-index: 999;
  
  

}

h1 {
  margin: 10px;
}

ul {
  display: flex; 
  align-items: center;
  padding-right: 40px;
  background-color: bisque;
  
  
}

li {
  display: flex;
  justify-content: space-around;
  padding: 5px;
 
 
}  

body {
  width: 1000px;
  height: 1400px;
  margin: 0 auto;
  position: relative;
 
}

content {
  top: 70px;
  position: relative;
}

.content-title {
 display: flex;
 flex-direction: column; 
 justify-content: flex-end; 
 align-items: center;
 width: 25%;
 height: 300px;

 color: rgb(90, 167, 175)
  
}
.features {
  box-sizing: border-box;
  position: absolute;
  left: 250px;
  
  
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly; 
  align-items: center;
 
  top: 250px;
  

}


#about {
  background-image: url(/assets/images/IMG_1644.jpeg);
  background-size: 300px 300px;
  
}